.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(200, 200, 200);
}

.main {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.side1 {
  width: 33%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.contents {
  width: 33%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}

.side2 {
  width: 33%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(200, 200, 200);
}
